<div class="document-viewer">
  <div class="document-viewer-header">
    <h1>{{ document.name }}</h1>

    <div class="document-viewer-toolbar">
      <div class="zoom-level">
        {{ zoom }}%
      </div>

      <button class="btn btn-light btn-lg w-3r2" (click)="onZoomIn()">+</button>

      <button class="btn btn-light btn-lg w-3r2" (click)="onZoomOut()">-</button>

      <button class="btn btn-light btn-lg" (click)="onSave()">Save</button>
    </div>
  </div>

  <div class="document-viewer-body">
    @if (isBusy) {
      <div>
        <span class="placeholder w-25"></span>
        <span class="placeholder w-100"></span>
        <span class="placeholder w-75"></span>
      </div>
    } @else {
      @if (!document.pages?.length) {
        <p class="d-center">
          The document is empty.
        </p>
      } @else {
        <ul class="document-pages">
          @for (page of document.pages; track page.number) {
            <li class="document-page">
              <div
                class="document-page-content"
                [style.width.%]="zoom"
              >
                <img
                  src="{{baseUrl}}/{{page.imageUrl}}"
                  alt="page {{page.number}}"
                  (click)="onShowAddAnnotationModal(page.number, $event)"
                />
                @if (page.annotations.length > 0) {
                  @for (annotation of page.annotations; track annotation.id) {
                    @switch (annotation.type) {
                      @case (AnnotationType.Text) {
                        <div
                          class="annotation-text"
                          cdkDrag
                          cdkDragBoundary=".document-page-content"
                          [style.left.%]="annotation.xPercent"
                          [style.top.%]="annotation.yPercent"
                          (cdkDragEnded)="onDragMoved(annotation, $event)"
                        >
                          <button
                            type="button"
                            class="btn-close btn-close-annotation"
                            aria-label="Close"
                            (click)="onDeleteAnnotation(annotation)"></button>
                          {{ annotation.text }}
                        </div>
                      }
                      @case (AnnotationType.Image) {
                        <div
                          class="annotation-img"
                          cdkDrag
                          cdkDragBoundary=".document-page-content"
                          [style.left.%]="annotation.xPercent"
                          [style.top.%]="annotation.yPercent"
                          (cdkDragEnded)="onDragMoved(annotation, $event)"
                        >
                          <button
                            type="button"
                            class="btn-close btn-close-annotation"
                            aria-label="Close"
                            (click)="onDeleteAnnotation(annotation)"></button>
                          <img
                            class="annotation-img-content"
                            src="{{annotation.imageUrl}}"
                            alt="annotation image"
                          />
                        </div>
                      }
                    }
                  }
                }
              </div>
            </li>
          }
        </ul>
      }
    }
  </div>
</div>

@if (isAnnotationModalOpened) {
  <cw-add-annotation-modal
    (addAnnotation)="onAddAnnotation($event)"
    (closed)="isAnnotationModalOpened = false"
  ></cw-add-annotation-modal>
}

<p-toast position="bottom-right"/>
